<!-- This is a blank template.  You can copy this to make a new template page. -->
<!-- add silly pictures + bios for yourself and your pretend team -->

{% extends 'base.html' %}

{% block body %}

<center>
    <h1>About Us</h1>
    <h4>Meet the team of Flicks For Femmes</h4>
</center>
    <p>Hello! We are the creators of Flicks and Femmes, a movie rating app for queer and POC baddies. It's like Letterboxd but on gay steroids. We are professionals! Our CEO got their phD in Servington from Barnumbia and taught at Yale University as a professor focusing on the History of Sapphic Literature and Media. Our COO's and CFO's are nepo babies as a result of Christopher Nolan and Cillian Murphy's lovechild.</p>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <img src="/static/bottoms.jpg" alt="Bottoms Cast" width="300" height="200">
          </div>
          <div class="col">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.foxnews.com%2Ffoxnews.com%2Fcontent%2Fuploads%2F2023%2F07%2Fnolan-murphy.jpg&f=1&nofb=1&ipt=05d1132502c4b0ee1f1824e90e4af1f777bb339cb5b551fa6dec4d94bb1aec7a&ipo=images" width="350" height="200">
          </div>
        </div>
      </div>


{% endblock %}